body{
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    background-color: rgb(15, 0, 70);
}

.kartyak{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}